[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ir"]
	path = ir
	url = https://github.com/henningte/ir
[submodule "sftime"]
	path = sftime
	url = https://github.com/henningte/sftime
